<div class="timeline-comment">
    <div class="timeline-comment-header">
        <img src="../global_src/Lobo.png" alt="" />
        <p>{{name}} <small>{{time}}</small></p>
    </div>
    <p class="timeline-comment-text">
        {{text}}
    </p>
</div>